{% extends 'base.html' %}
{% load static %}

{% block title %} Main {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'voting/index.css' %}">
{% if votings %}
<ul class="votings">
    {% for v in votings %}
    <li class="voting">
        <div class="title">
            <a href="{% url 'voting' v.id %}">
                <h3>{{ v.title }}</h3>
                <p>{{ v.description }}</p>
            </a>

        </div>
        </form>
        <div class="creator">
            {% if v.creator.profile.avatar %}
            <img src="{{ v.creator.profile.avatar.url }}" alt="{{ v.creator.nickname }}">
            {% endif %}

            <span>
                <a href="{% url 'profile' v.creator.nickname %}" class="text-link">
                    {{ v.creator.nickname }}
                </a>
            </span>
        </div>
    </li>
    {% endfor %}
</ul>

<div class="pagination">
    {% for p in pages %}
    <a href="?page={{ p }}" class="{% if p == current_page %}current_page{% endif %}">
        [{{ p }}]
    </a>
    {% endfor %}
</div>
{% else %}
<p class="empty">Записей пока нет</p>
{% endif %}


{% endblock %}